<!DOCTYPE html>
<html>
<head>
  <title>Percent2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="siteHeader">

  <%= link_to root_path, class: 'root-path' do %>
      <h1 class="text-center">2 la suta</h1>

      <h5 class="text-center">
        100% doneaza <em>2 la suta</em>
      </h5>
  <% end %>

</section>

<%= yield %>

</body>
</html>
